$primary_1: #842c51;
$primary_2: #a12121;
$primary_3: #196782;
$primary_4: #f7fbff;
@media screen and (min-width: 768px) {
body {
	background-color:$primary_1;
	padding: 20px;
	margin: 0;
}
}
@media screen and (max-width: 360px) {
	body {
		background-color:$primary_4;
		padding: 20px;
		margin: 0;
	}
	}

/* On screens that are 1920px wide or less, the background color*/
@media screen and (max-width: 1920px) {
	body {
	  background-color:$primary_2;
	  padding: 20px;
	margin: 0;
	}
  }
  
  /* On screens that are 1366px wide or less, the background color */
  @media screen and (max-width: 1366px) {
	body {
	  background-color:$primary_3;
	  padding: 20px;
	margin: 0;
	}
  }
  
h1 {
	font-family: sans-serif;
}
h2 {
	font-family: sans-serif;
}
p {
	font-family: sans-serif;
}
ul {
	font-family: sans-serif;
}
li {
	font-family: sans-serif;
}
ul.header {
	li {
		display: inline;
		list-style-type: none;
		margin: 0;
		a {
			color: #FFF;
			font-weight: bold;
			text-decoration: none;
			padding: 20px;
			display: inline-block;
		}
	}
	background-color: #111;
	padding: 0;
}
.content {
	background-color: #FFF;
	padding: 20px;
	h2 {
		padding: 0;
		margin: 0;
	}
	li {
		margin-bottom: 10px;
	}
}
.search {
	width: 30rem;
	margin: 10rem auto 2rem auto;
	text-align: right;
	position: relative;
  }
  .search-box {
	border: 4px solid;
	border-radius: 2px;
	font-size: 2rem;
	width: 100%;
	padding: 1rem;
	transition: width 0.3s;
  }
  .search-box:focus {
	width: 100%;
	outline: blueviolet;
	border: 4px solid #08a1b6;
  }
  .search-btn {
	height: 100%;
	width: 4em;
	margin-top: -2em;
	position: absolute;
	top: 50%;
	right: 0.5rem;
  
	opacity: 0.2;
	background-color: transparent;
	border: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAACnElEQVR4AcXZsUsbYRjH8e+dh2s1SyAGJwMJuDj1BIcEhJQIOnTq5F+QOf0jIq79A7oFh7aYyVBEkaZDC3awECc1AUXRIqUQotfFocnjJe/dk+b9PKP65Md7z13ee3Uwk2SNHKmngs5TnbDLJQqjA+RYZ4OXuDzvkSYf+cAJ44fPAYFhHeAzVhlqBBGrRoax8KjSJYhRXap4KCVoECiqQQKFLC0CZbXIElOBOwJ9cUchzm2Y5QsveN4tdfY4o00HSDHHPKuUmOV5v/D5SSSJ0MXfIY+HBB55dkIvRIIIvJDR28dnFJ/9kHH0MFaVDehRxlSZnuxAFUMZunKQKBJFUQ4wXTIYqcmPZ5GoFmUEahjw5eJTJI6ivBD4jCS/csrEVZZfU4yQk5OPhrwjcoRygQ0GVdCQf73OUEfisaMkHk1HDJHkYeDX82jlBzo+kCSEyxruwDP/EK1DbsWnhHDFgNTpodWjLgY9NECKfnvoyS4p8wBngN5Z/ABtQK8dP0AH0OuYB5iMqfAAMque7HJtHmAOPdnlxjzAPHqyy5V5gFX0ZJfj8AAn9CvhoeVRol8zPMAuj/xrlhW0Vpg1D3ApflhGR3b4wTlDvI24i4u+w9y0uyVrM213U1qxuy2/Z8bui8m23VezgGW7L6cBLdIWXs9FBAsHFCLCJI9opFMKXEzkkEp/IbK0bEdI0LARQRzVWoigPKy+Z5tlWooIiuP6NhVmAEiPNwLkqHDEw5CGx2wyDQDRI8T7l80U19xwxTFNmpwzKM1nFsyeCw7jFymCAxYjrHDp8r9cUOCUYRZ4Bw6AxVV47QJYXIVXLliNsOSC1Qh/XLAa4ZuDmmIcH1l2AaytwhZfmaAkn/qOb7eYBofJekOJJX7znfccAvwFyB3OeNys7d4AAAAASUVORK5CYII=");
  }
  .search-btn:hover {
	outline: black;
	opacity: 0.4;
	cursor: pointer;
  }
  .search-btn:focus {
	outline: black;
	opacity: 0.6;
  }
  
  ul.options {
	display: block;
	list-style: none;
	width: 30rem;
	transition: width 0.3s;
	margin: auto;
	position: relative;
  }
  
  ul.options li {
	display: block;
	background: white;
	margin: 10px auto;
	padding: 10px;
	font-size: 1.2rem;
	width: 100%;
	border-radius: 2px;
  }
  ul.options li:hover {
	font-weight: bold;
	color: #00b4cc;
	cursor: pointer;
	transition: 0.3s all;
  }
  
  ul.options li.option-active {
	background: whitesmoke;
	font-size: 1.5rem;
	color: #00b4cc;
  }
  .no-options {
	color: white;
  }
  .e-list-icon {
    line-height: 1.3;
    padding-right: 10px;
    text-indent: 5px;
}

.asc-sort:before {
    content: '\ea91';
    font-family: 'e-icons';  
    font-size: 20px;

}
.dsc-sort:before {
    content: '\ea98';
    font-family: 'e-icons';   
    font-size: 20px;
}
.filter:before {
    content: '\ea77';
    font-family: 'e-icons';  
    font-size: 20px;
    opacity: 0.78;
}
.clear:before {
    content: '\ec0f';
    font-family: 'e-icons';  
    font-size: 20px;
}
  